.center {
  margin: auto;
  width: 50%;
}

.textbox {
  width: 100%;
  height: 1%;
  padding: 2% 2%;
  margin: 1% 0%;
  box-sizing: border-box;
}

.form-area {
  width: 40%;
  text-align: center;
  margin-top: 3%;
}

.right-align {
  float: right;
}

.login-button {
  margin: 5%;
  float: right;
}

::placeholder {
  color: #8d8d8d;
  font-size: 120%;
}

.country-box {
  width: 100%;
  margin-top: 1.5vh;
  box-sizing: border-box;
}

.country-button {
  /*bruh i hate bootstrap */
  width: 100%;
  height: 6vh;
  border: none !important;
  background-color: white !important;
  text-align: left !important;
  border: solid #1a1a1a 1px !important;
  border-radius: 0 !important;
  font-weight: 400 !important;
  font-size: 1.2rem !important;
}

.textbox {
  height: 6vh !important;
  color: #1a1a1a;
}
