
.center {
  margin: auto;
  width: 50%;
}

.right-align {
  float: right;
}

.options {
  width: 90%;
  margin-bottom: 3%;
  font-weight: bold !important;
  font-size: 1.2rem !important;
}

.textbox {
  width: 100%;
  height: 1%;
  padding: 2% 2%;
  margin: 1.5% 0%;
  box-sizing: border-box;
}

.form-area {
  width: 40%;
  text-align: center;
  margin-top: 3%;
  padding: 3%;
  border-style: groove;
  overflow: hidden;
  min-width: 250px;
}

.login-button {
  margin: 5%;
}

::placeholder {
  color: #8d8d8d;
  font-size: 120%;
}

.confirmPass {
  text-align: left;
  color: red;
}

.red-border {
  border-color: red;
  border-style: solid;
}

.alert-badge {
  background-color: #842029;
}

@media screen and (max-width: 900px) {
  .form-area {
    width: 70%;
  }
}
